.item img {
  max-width: 100%;
}
.item h3 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

@media all and (min-width: 40em) {
  .item {
    width: 50%;
  }
}
@media all and (min-width: 60em) {
  .item {
    width: 33.33%;
  }
}
.item .item__content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.item  .item__content p {
  flex: 1 0 auto;
}


